<div class="footer jumbotron">
    <footer style="color: black; font-size: small;"> © 2019 <a
            href="https://github.com/Phoenix009/TaskMasters">Taskmasters</a> KJSIEIT ,Inc All rights reserved .
    </footer>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>