
<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="svvlogo" src="/images/svv.png" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <li>
                    <h3>Stationery Inventory System</h3>
                </li>
                <li id="nav-item" class="nav-item">
                    <a class="nav-link" href="/stocks">Stocks </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/request">Requests</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-danger my-2 my-sm-0 mybtn" type="submit">Signout</button>
            </form>
        </div>
    </nav>
</header>