<html>
    <head>
<title>User</title>


<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<!-- JavaScript and jQuery link -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
</script>
<!-- Custom styles for this template -->
<link href="css/user.css" rel="stylesheet">
    </head>

    
<body>
    
<div class="row head">
    <div class="mainhead col-md-12 row" style="justify-content: center;">
        <div class="col-md-6">
            <h3 style="text-size-adjust: 4rem;">Stationery Inventory</h3>
        </div>

        <div class="col-md-3" style="justify-content: center;">
            <input type="text" class=" form-control" id="myInput" onkeyup="myFunction()"
                placeholder="Search" /><span></span>
        </div>
        
    </div>


</div>
<div class="container d-flex justify-content-center">
    <div class="row col-md-8 col-md-offset-1 custyle">
        <table id="myTable" class="table table-list-search table-striped custab" style="margin-top:3rem;">
            <thead >
                <tr>
                    <th>Sr.no</th>
                    <th>Item Name</th>
                    <th>Quantity</th>
                    <th class="text-center">Action</th>
                </tr>
                
            </thead>
            
            <tbody >
                
                <tr>
                    <td></td>
                    <td></td>
                    <td class="placeholder" style="width: 12rem;">
                        <div class="form-group">
                            <input name="stock" type="number" class="form-control" 
                                placeholder="Required Quantity">
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="row">
                            <div class="col-lg-12" style="justify-content: center;">
                                <a class='btn btn-primary btn-xs' style="margin-right: 0rem;"
                                    href="/edit_requests/accept/<%= element.req_id %>/<%= element.stock_id %>/<%= element.qty %>">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    <i class="fas fa-check"></i> Request
                                </a>
                            </div>
                            </div>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<br>
<br>
<br>

<footer style="font-size: small; text-align: center;">  kesav 123</footer>
</body>
</html>

