


/* NAVBAR */
#navbarSupportedContent{
    text-align: right;
    width: 100%;
}
#nav-item{

    margin: 0 0 0 35rem;
}
.mybtn{
    margin-right: 1rem;
}
.mybtn:hover{
    background-color: black;
}
.footer{
    text-align: center;
}
.mainhead{
    text-align: center;
    margin: 2% 0 2% 0;
}
.table-width{
    width: 100%;
}
.tr{
    text-align: center;
}
h4{
    margin-left: 1rem;
}